@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap'); 

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/Font/PlayfairDisplay-Italic.woff2') format('woff2'),
        url('./assets/Font/PlayfairDisplay-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/Font/PlayfairDisplay-Bold.woff2') format('woff2'),
        url('./assets/Font/PlayfairDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/Font/PlayfairDisplay-Regular.woff2') format('woff2'),
        url('./assets/Font/PlayfairDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/Font/PlayfairDisplay-Black.woff2') format('woff2'),
        url('./assets/Font/PlayfairDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/Font/PlayfairDisplay-BoldItalic.woff2') format('woff2'),
        url('./assets/Font/PlayfairDisplay-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Playfair Display';
    src: url('./assets/Font/PlayfairDisplay-BlackItalic.woff2') format('woff2'),
        url('./assets/Font/PlayfairDisplay-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

.news{
    display:flex;
    flex-direction:row;
    flex-wrap:wrap;
    justify-content:center;
    font-family: 'Playfair Display';
}
article{
   
    width: 45%;
}
p{

}

img{
    width: 90%;   
}
.womans{
width: 100%;
}

.input{
    width: 100%;
}
.all{
width:  100%;
min-width: 320px ;
max-width: 1060px ;
margin: 0 auto;
}
header{
    font-family: 'Ubuntu', sans-serif;
}
nav{
    
}
.minimo
{
    width: 15%; 
}
.Mail{
    background-color: f0f0f0;
    text-align: center;
    padding: 60px auto;
}
.Mail1{
  
}
.Mailtext{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid black;
}

.Mialbutton{
    border: none;
    background-color: transparent;
}
.LoadMorebutton{
    font-family: 'Playfair Display';
    background-color: transparent;
    width: 20%;
    height: 70px;
    font-size:  30px;
}
body{
    text-align: center;
    
}
footer{
    background-color: f0f0f0;
    height: 100px;
    
}
.footerbutton{
    border: none;
    background-color: transparent;
    margin: 50px auto;

}
.footerbuttons{
margin-left: 10px;
}
.footerbutton1{
    border: none;
    background-color: transparent;
    margin: 50px auto;
    margin-left: 700px;
}
.a1header{
    margin-left: 600px;
}
.aheader{
    margin-left: 20px;
}